# Local development only. Do not commit real credentials or sensitive data.
POSTGRES_USER=warehouse
POSTGRES_PASSWORD=warehouse
POSTGRES_DB=provider_ops_dwh
POSTGRES_PORT=5432

MONGO_USER=mongo
MONGO_PASSWORD=mongo
MONGO_DATABASE=provider_ops
MONGO_PORT=27017

METABASE_PORT=3000
